
h1{
	color: black ;
	margin-left : 30px ;
	margin-top: 50px;
	text-shadow: 2px 2px 1px rgb(192,192,164);
	/*<!--background-color: rgba(73,181,191,0.2);--> */
}
.blok{
	color: rgb(192,192,164);
	font-family: Swis721 Cn BT,Times New Roman;  
	font-size: 20px;  
	margin-left: 25px;
}
.blok span{
	/*<!--background-color: rgba(211,219,219,0.1);-->*/	
	padding: 5px;

}

.cont_form {
  text-align: center;
  color: #ccc;
}

.container {
  border-radius: 7px;
  background-color: rgba(211, 219, 219, 0.315);
  color: rgb(192,192,164);
  font-family: Swis721 Cn BT, 'Times New Roman';  
  text-align: left;
	font-size: 20px;    
  padding: 20px;
  width: 50%;
  margin-left: 23%;
  margin-bottom: 20px;
}

.container textarea{
  height: 135px;
}

.container input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container button[type=submit] {
  background-color: rgba(211, 219, 219, 0.205);
  color: rgba(195, 204, 112, 0.616);
  font-weight: bold;

  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container button[type=submit]:hover span{
  display: none;
}
.container button[type=submit]:hover:before {
  content: "Are you Sure that's it?";  
  color: rgba(190, 219, 86, 0.815);
  font-weight: bolder;
}

table, th, td {
  border: 3px solid gray;
  border-collapse: collapse;
  margin-top: 25px; 
}
th, td {
  padding: 15px;
  text-align: center;
  /*background-color:rgba(11,11,11,0.25);*/
  background-color:rgba(211,219,219,0.2);
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 6% ;
  width: 15%;
  background-color: rgba(241, 241, 241, 0.3);
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: white;
  font-size: 35px ;
  font-style:bold ;
  padding: 8px 16px;
  text-decoration: none;
}
 

ul.sidenav li a:hover:not(.active) {
  /*background-color: #555;*/
  background-color:rgba(11,11,11,0.25);
  color: white;
}

div.content {
  margin-left: 16%;
  padding: 1px 16px;
  height: 1000px;
}

img {
  vertical-align: middle;
}

.numbertext + img{
  width: 395px ;
}

.gall{
  position: relative;
  width: 395px;
  height: auto;
  margin-left: 30%;
  margin-top: 30px;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(224, 248, 7);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgba(92, 80, 15, 0.719);
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  width: 24.9%;
}

/* Six columns side by side */
.column {
  float: left;
  width: 33.33%;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  body{
    padding-right: 0px;
  }

  .container{
    width: auto;
    margin: 0px;
  }

  .gall{
    margin-left: 2%;
  }

  ul.sidenav li a {
    float: left;
  	font-size: 20px;
    padding: 15px;
  }
  div.content {margin-left: 0px;}
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
  .gall{
    margin-left: 0px;
    width: 100%;
  }
  .blok{
    margin-left: 0px;
  }
  #mypic{
    width: 80%;
    float: unset ;
    margin-left: 45px;
  }
  div.content{
    padding-left: 2px;
    padding-right: 2px;
  }
  .numbertext + img{
    width: 100% ;
  }
}